{% extends '::base.html.twig' %}
{% block title %}Este é o index fabricante{% endblock %}
{% block body %}
    <div class="container">
        

        <div class="row">
            <h1>Fabricantes</h1>
            {%if is_granted('ROLE_ADMIN')%}
            <p>
                <a href="{{path('fabricante_new')}}" class="btn btn-default">Novo Fabricante</a>
            </p>
            {%endif%}

        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Carros</th>
                    {%if is_granted('ROLE_ADMIN')%}
                    <th>Ação</th>
                    {%endif%}
                </tr>

                {% for fabricante in fabricantes %}
                <tr>
                    <td>{{ fabricante.id |e }}</td>
                    <td>{{ fabricante.nome |e }}</td>
                    <td>
                        <ul>
                        {% for carro in fabricante.carros %}
                            <li>{{ carro.modelo |e }} | {{ carro.ano |e }} | {{ carro.cor |e }}</li>
                        {% endfor %} 
                        </ul>                    
                    </td>
                    {%if is_granted('ROLE_ADMIN')%}
                    <td>
                        <a href="{{path('fabricante_edit', {'id':fabricante.id})}}"> Editar</a>
                        |
                        <a href="{{path('fabricante_delete', {'id':fabricante.id})}}"> Excluir</a>
                    </td>
                    {%endif%}
                </tr>
                {% endfor %} 
            </table>
        </div>
    </div>
    
       
{% endblock %}
